<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.CupMapper">
    
    <resultMap type="cup" id="cupResultMap">
        <id property="id" column="id" javaType="Long"/>
        <result property="cupName" column="cup_name" javaType="String"/>
    </resultMap>

    <select id="findCupById" resultMap="cupResultMap" parameterType="User2">
        select * from cup where id=#{id}
    </select>
</mapper>